body {
  width: 100vw;
  height:100vh;
  margin: 0;
}
.container{
  height:100vh;
  display:flex;
  gap:5%; 
}
.form {
  display:flex;
  flex-direction: column;
  gap:10px;
  background-color: white;
  width:30%;

}
.resume {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  padding: 5px;
  gap: 5px;
  width:65%;

}

input {
  width:100%;
}

.divider {
  width:100%;
  background-color:#94a3b8;
  color:black;
}